# Server
PORT=3000

# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=cars
POSTGRES_PASSWORD=change-me-db-pass
POSTGRES_DB=cars
POSTGRES_SCHEMA=cars

# JWT
JWT_ACCESS_SECRET=change-me-access
JWT_ACCESS_EXPIRES_IN=60m
JWT_REFRESH_SECRET=change-me-refresh
JWT_REFRESH_EXPIRES_IN=30d

# SMS
SMS_RU_API_ID=
SMS_TEST_MODE=false
