# Server
PORT=3000

# Postgres
DB_URL=postgres://cars:change-me-db-pass@localhost:5432/cars
DB_SCHEMA=cars

# JWT
JWT_ACCESS_SECRET=change-me-access
JWT_ACCESS_EXPIRES_IN=60m
JWT_REFRESH_SECRET=change-me-refresh
JWT_REFRESH_EXPIRES_IN=30d

# SMS
SMS_RU_API_ID=your-api-key
SMS_TEST_MODE=false

# SSL
SSL_KEY_PATH=/app/ssl/private/privkey.pem
SSL_CERT_PATH=/app/ssl/certs/fullchain.pem

# S3
S3_ACCESS_KEY=ABCDEF123456789
S3_SECRET_KEY=ABCDEF123456789
S3_BUCKET_NAME=cars
S3_API_ENDPOINT=https://cars.s3.example.com
S3_REGION=ru-1